body {
    margin: 0;
    padding:0;
    overflow-x: hidden;
}

.header{
    background-color: transparent;
    display:block;
    text-align: center;
    height: 60px;
    position: absolute;
    width: 100%;
    top:0px;
}

.header li {
    display:inline-block;
    margin-top:30px;
 margin-left:20px;
 color:white;
 font-family: Helvetica;
 letter-spacing: 2px;
    cursor: pointer;
}
.header li:hover{
    border-bottom: 3px solid yellow;
}

.bigBox{
    width:100%;
    height: 530px;
    background:linear-gradient( rgba(0, 0, 0, 0.384), rgba(0,0,0,.5) ),url(22.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.title{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    font-family:Helvetica;
    font-weight: bold;
    letter-spacing: 3px;

}

.iconsBox{
    position: absolute;
    top:6%;
    right:6%;
}

.iconsBox i {
    color:white;
    margin-right:10px;
    padding: 6px 8px 6px 8px;
    border:1px solid white;
    border-radius: 50%;

}

.iconsBox i:hover{
    color:yellow;
    border:1px solid yellow;
}

.searchBox{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:600px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
}
.searchBox input {
    outline: none;
    width:400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(252, 252, 252, 0.801);
font-size: 20px;
font-family: monospace;
color:rgb(128, 138, 128);

}

.searchBox button {
    height: 44px;
    width:150px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(255, 239, 19, 0.445);
color:white;
font-family: Helvetica;
font-weight: bold;
letter-spacing: 1px;
margin-left:10px;

}
.features{
    width:100%;

    position: absolute;
    top:85%;
    left:73%;
    transform: translate(-50%,-50%);
}
.feature{
    width:230px;
    height: 150px;
    background-color: rgb(233, 230, 227);
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.151);
    position: relative;

}


.feature i {
    position: absolute;
    left:50%;
    top:35%;
    transform: translate(-50%,-50%);
    color:rgba(126, 126, 126, 0.658);
cursor: pointer;

}



.feature p {
    position: absolute;
    left:50%;
    top:60%;
    transform: translate(-50%,-50%);
    color:rgba(126, 126, 126, 0.658);
    font-family:Helvetica;
    letter-spacing: 1px;
    cursor: pointer;
}

.moveover{
    background-color: rgba(196, 187, 73, 0.925);
}

.mouseoverchild{
    color:white;
}