body {
    margin: 0;
    padding:0;
    overflow-x: hidden;
}

.header{
    background-color: transparent;
    display:block;
    text-align: center;
    height: 60px;
    position: absolute;
    width: 100%;
    top:0px;
}

.header li {
    display:inline-block;
    margin-top:30px;
 margin-left:20px;
 color:white;
 font-family: Helvetica;
 letter-spacing: 2px;
    cursor: pointer;
}
.header li:hover{
    border-bottom: 3px solid yellow;
}

.bigBox{
    width:100%;
    height: 530px;
    background:linear-gradient( rgba(0, 0, 0, 0.384), rgba(0,0,0,.5) ),url(22.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.title{
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    font-family:Helvetica;
    font-weight: bold;
    letter-spacing: 3px;

}

.iconsBox{
    position: absolute;
    top:6%;
    right:6%;
}

.iconsBox i {
    color:white;
    margin-right:10px;
    padding: 6px 8px 6px 8px;
    border:1px solid white;
    border-radius: 50%;

}

.iconsBox i:hover{
    color:yellow;
    border:1px solid yellow;
}

.searchBox{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:600px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0);
}
.searchBox input {
    outline: none;
    width:400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(252, 252, 252, 0.801);
font-size: 20px;
font-family: monospace;
color:rgb(128, 138, 128);

}

.searchBox button {
    height: 44px;
    width:150px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(255, 239, 19, 0.445);
color:white;
font-family: Helvetica;
font-weight: bold;
letter-spacing: 1px;
margin-left:10px;
cursor:pointer;

}
.searchBox button:hover{
    background-color: rgba(255, 239, 19, 0.699);
}
.features{
    width:100%;

    position: absolute;
    top:85%;
    left:73%;
    transform: translate(-50%,-50%);
    z-index:11;
}
.feature{
    width:230px;
    height: 150px;
    background-color: rgb(233, 230, 227);
    display: inline-block;
    margin: 0;
    margin-right: 20px;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.151);
    position: relative;

}


.feature i {
    position: absolute;
    left:50%;
    top:35%;
    transform: translate(-50%,-50%);
    color:rgba(126, 126, 126, 0.658);
cursor: pointer;

}



.feature p {
    position: absolute;
    left:50%;
    top:60%;
    transform: translate(-50%,-50%);
    color:rgba(126, 126, 126, 0.658);
    font-family:Helvetica;
    letter-spacing: 1px;
    cursor: pointer;
}

.moveover{
    background-color: rgba(196, 187, 73, 0.925);
}

.mouseoverchild{
    color:white;
}

.bigBox2{
    width:100%;
    height: 530px;
    background-color:rgb(255, 255, 255);
    position: relative;
}

#about {
width:50%;
height: 400px;
background-color: white;
position: absolute;
top:20%;
display: inline-block;
}
#about h3{
    color:rgba(85, 84, 84, 0.658);
    font-family: helvetica;
    margin-top:10%;
    margin-left:5%;
}
#about p {
    word-wrap: break-word;
    color:rgba(85, 84, 84, 0.658);
    margin-left:5%;
    font-family: helvetica;

}

#imgSlider {
    width:50%;
    height: 400px;
    background-color: white;
    position: relative;
    top:20%;
    left:50%;

    }
.imgFrame {
    background-color: blueviolet;
    width: 500px;
    height: 300px;
    position: absolute;
    top:10%;
    left:10%;
   
}
.imgFrame img {
    width:100%;
}

.navbtn li {
    border:2px solid black;

}


.bigBox3{
    width:100%;
    height: 1200px;
    background-color:rgb(233, 230, 227);
    position: relative;
}


.bigBox3 h2{
    margin-top:5%;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    
    letter-spacing: .5px;
}
.bigBox3 p {
  font-size: 20px;
    color:grey;
    text-align: center;
margin-top:-1%;
}

.middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; 
}

.projects{
    width:800px;
    height: 800px;
    background-color: black;
    position: absolute;
    top:53%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 4px 6px 9px -4px rgba(112,111,112,1);
}

.project {
    width:100%;
    height:35%;
    background-color: white;
}
.project .part1{
    display:inline-block;
    width:50%;
    height:100%;
    background-color: white;
    position: relative;
    
}
.project .part2{
    display:inline-block;
    width:49.2%;
    height:100%;
    
    position: relative;
    vertical-align: top;}

.project  h3 , .bigBox4 h3 {
    margin-top:70px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    
    letter-spacing: .5px;
}
.project p , .bigBox4 p{
    font-size: 20px;
    color:grey;
    text-align: center;
margin-top:-1%;
}
.bigButton {
    outline-style: none;
    height: 40px;
    width:300px;
    background-color: rgb(163, 162, 160);
    border:none;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.151);
    position: absolute;
    top:93%;
    left:40%;
    

}
.bigButton:hover{
    background-color:rgba(196, 187, 73, 0.925);
}
.project button {
    outline-style: none;
    height: 40px;
    width:100px;
    background-color: rgb(233, 230, 227);
    border:none;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.151);
    margin-left:70%;
    

}
.project button:hover{
    background-color:rgba(196, 187, 73, 0.925);
}

.bigBox4{
    width:100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.service {
    display:inline-block;
    width:200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin-right:5%;
}
.service i {
    margin-top:25%;
    cursor: pointer;
}
.service i:hover{
    color:rgba(196, 187, 73, 0.925);
}
.service p {
    margin-top:10%;
    color:black;
}